{% extends "base.html" %}
{% block header %}
{% endblock %}
{% block content %}
<div class="product">
<h1>Movies</h1>
{% if movies %}
    {% for movie in movies %}
    {% if forloop.counter|divisibleby:'3' %}
        <div class="row">
    {% endif %}
        <div class="col-md-4" >
            <a href="{% url 'movie_detail' movie.id %}">
                {% if movie.image %}
                <img src="{{ movie.image.url }}" class="img-responsive" style="width:50%">
                {% endif %}</a>
        </div>
</div>
</div>
{% endfor %}
{% endif %}
<div class="product">
<h1>Games</h1>
{% if games %}
    {% for game in games %}
    {% if forloop.counter|divisibleby:'3' %}
<div class="row">
    {% endif %}
        <div class="col-md-4" >
            <a href="{% url 'game_detail' game.id %}">
                {% if game.image %}
                <img src="{{ game.image.url }}" class="img-responsive" style="width:50%">
                {% endif %}</a>
        </div>
</div>
</div>

{% endfor %}
{% endif %}
{% endblock %}